<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Flappy Bird Clone</title>
		
		<script src="/assets/js/game.js"></script>
        <link rel="stylesheet" href="/assets/css/easter.css">
	</head>



<canvas id="gameCanvas"  />



</html>
