{% extends "layout.html.twig" %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/delivery.css">
	<link rel="stylesheet" href="/assets/css/cart.css">
{% endblock %}

{% block content %}
	<section class="cart">
		<div class="container">
			<h1>Résumé de commande</h1>
			<div class="table">
				<table class="table">
					<thead>
						<tr>
							<th>Menu</th>
							<th>Quantité</th>
							<th>Prix</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% set total = 0 %}

						{% for product in products %}
							{% set total = total + product.price * product.quantity %}
							<tr>
								<td>
									<h2>{{ product.name }}</h2>
								</td>
								<!-- Bouton -->
								<td>
									<div class="d-flex justify-content-between">

										<p>{{ product.quantity }}</p>

									</div>
								</td>

								<td>{{ product.quantity * product.price }}€</td>

								<td></td>
							</tr>
						{% endfor %}

						<tr>
							<th>Prix total</th>
							<td></td>
							<td></td>
							<td></td>
							<td>{{total}}€</td>
							<td></td>
						</tr>
					</tbody>
					<div class="sea">
					
						<div class="circle-wrapper">
						
							<div class="bubble"></div>
							<div class="submarine-wrapper">
								<div class="submarine-body">
									<div class="window"><a class="easter" href="/Easter/index">Wall-E</a></div>
									<div class="engine"></div>
									<div class="light"></div>
									
								</div>
								<div class="helix"></div>
								<div class="hat">
									<div class="leds-wrapper">
										<div class="periscope"></div>
										<div class="leds"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endblock %}
