body {
    color: whitesmoke;
}

label {
    transition: text-shadow 0.5s;
}

label:hover {
    text-shadow:
  0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #0ff,
  0 0 80px #0ff,
  0 0 90px #0ff,
  0 0 100px #0ff,
  0 0 150px #0ff;

}

button:hover {
    filter: brightness(150%);
    background-color: white;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

button:active{
    filter: brightness(50%);

}