<div class="romain">
    <nav class="navbar" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span>Rover-eat</span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav justify-content-between">
                    <a class="nav-link" href="/">RESTAURANT</a>
                    <a class="nav-link" href="/">LIVRAISON</a>
                    <a class="nav-link" href="/">CONTACT</a>
                </div>
            </div>
        </div>
    </nav>
</div>
