<!--page block includes a navigation and a content block -->
<div class="page">
    <!--navigation-->
    <nav class="nav">
        <!--close button-->
        <div class="nav__close"></div>
        <!--navigation list-->
        <ul class="nav__list">
            <!--navigation item-->
            <li class="nav__item">
                <!--navigation link--><a class="nav__link" href="#" title="Home"><i class="nav__link-icon material-icons"></i>Home</a>
            </li>
            <!--navigation item-->
            <li class="nav__item">
                <!--navigation link--><a class="nav__link" href="#" title="Tour"><i class="nav__link-icon material-icons"></i>Livraison</a>
            </li>
            <!--navigation item-->
            <li class="nav__item">
                <!--navigation link--><a class="nav__link" href="#" title="Settings"><i class="nav__link-icon material-icons"></i>Contact</a>
            </li>
        </ul>
    </nav>
    <!--content part-->
    <div class="page__content">
        <!--open navigation button-->
        <div class="nav-open-btn">
            <div class="nav-open-btn__bar"></div>
            <div class="nav-open-btn__bar"></div>
            <div class="nav-open-btn__bar"></div>
        </div>
    </div>
</div>
