<nav class="navbar" id="navbaradmin">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span>Rover-eat</span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="burgermenu">
                <a href="/">Acceuil</a>
                <a href="/adminDrink/show">Boissons</a>
                <a href="/adminPlat/show">Plats</a>
                <a href="/adminMenu/show">Menus</a>
                <a href="/adminRestaurant/add">Restaurants</a>
            </div>
        </div>
    </div>
</nav>
