<nav class="navbar" id="navbaradmin">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span>Rover-eat</span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav justify-content-between">
                <a class="nav-link" href="/">RESTAURANT</a>
                <a class="nav-link" href="/">COMMANDE(LIV)</a>
                <a class="nav-link" href="/">MENU</a>
                <a class="nav-link" href="/">PLAT</a>
                <a class="nav-link" href="/">BOISSON</a>
            </div>
        </div>
    </div>
</nav>