<div class="container">
	<div class="mb-3">
		<label for="name" class="form-label">Nom du restaurant :</label>
		<input type="text" class="form-control" id="name" placeholder="Rover restaurant">
	</div>
	<div class="mb-3">
		<label for="localisation" class="form-label">Localisation du restaurant :</label>
		<input type="text" class="form-control" id="localisation" placeholder="">
	</div>
	<div class="mb-3">
		<label for="image" class="form-label">Image du restaurant</label>
		<input type="file" class="form-control" id="image">
	</div>
</div>
